[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */static/*,
    */media/*,
    venv,
    env,
    .venv,
    .env
ignore = 
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401,F403
    */settings/__init__.py:F401,F403,F405
    */settings/dev.py:F401,F403,F405
    */settings/prod.py:F401,F403,F405
    */admin.py:F401
    */models.py:F401
    */tests.py:F401
    */views.py:F401
