[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */static/*,
    */media/*,
    venv,
    env,
    .venv,
    .env
ignore = 
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401
